In [1]:
# ===================================================================
#  Library
# ===================================================================
import numpy as np
import pandas as pd
from tqdm.auto import tqdm
from geopy.geocoders import Nominatim

In [2]:
# ===================================================================
#  Example
# ===================================================================
geolocator = Nominatim(user_agent="test_desu")
location = geolocator.geocode("Florida")
location

Location(Florida, United States, (27.7567667, -81.4639835, 0.0))

In [3]:
# ===================================================================
#  Utils
# ===================================================================
def get_latlng(row):
    geolocator = Nominatim(user_agent="test_desu")
    try:
        location = geolocator.geocode(row[0])
        row[['latitude', 'longitude']] = location.latitude, location.longitude
    except:
        print(f"Could not obtain {row[0]} information")
    return row

In [4]:
# ===================================================================
#  Data Loading
# ===================================================================
df = pd.read_csv("data/train.csv")[["region", "state"]]
df_region = pd.DataFrame(df["region"].unique())
df_state = pd.DataFrame(df["state"].unique())

display(df_region.head(2))
display(df_state.head(2))

               0
0      nashville
1  state college

     0
0  NaN
1   pa

In [5]:
# ===================================================================
#  region
# ===================================================================

df_region[1] = df_region[0]
## 一番前が都市名
df_region[0] = df_region[0].str.split(pat="/", expand=True)[0]
## ","の前の都市の情報を取得する
df_region[0] = df_region[0].str.split(pat=",", expand=True)[0]
## 複数の都市名が"-"で繋がれているので一番前の都市の情報を取得する
df_region[0] = df_region[0].str.split(pat="-", expand=True)[0]
## 空白消去
df_region[0] = df_region[0].str.strip()

replace_map = {
    "east oregon":"oregon",
    "eastern NC":"Eastern North Carolina",
    "southern illinois":"illinois",
    "north central FL":"Florida"
}
df_region[0].replace(replace_map, inplace=True)


tqdm.pandas()
df_region[['latitude', 'longitude']] = 0
df_region = df_region.progress_apply(get_latlng, axis=1)
display(df_region)
print(df_region.isnull().sum())

  0%|          | 0/372 [00:00<?, ?it/s]

                     0                  1   latitude   longitude
0            nashville          nashville  36.162277  -86.774298
1        state college      state college  40.794450  -77.861639
2              wichita            wichita  37.692236  -97.337545
3               albany             albany  41.000028   19.999962
4              redding            redding  40.586356 -122.391675
..                 ...                ...        ...         ...
367        southern WV        southern WV  37.846345  -81.991798
368  cumberland valley  cumberland valley  42.662050  -83.545806
369            oneonta            oneonta  33.947131  -86.471493
370  southern maryland  southern maryland  14.470892  120.999971
371       southwest KS       southwest KS  38.305208  -99.024562

[372 rows x 4 columns]

0            0
1            0
latitude     0
longitude    0
dtype: int64

In [6]:
# ===================================================================
#  state
# ===================================================================
state_dict = {
    'pa': 'Pennsylvania',
    'ks': 'Kansas',
    'ny': 'New York',
    'ca': 'California',
    'al': 'Alabama',
    'or': 'Oregon',
    'va': 'Virginia',
    'mt': 'Montana',
    'nj': 'New Jersey',
    'ma': 'Massachusetts',
    'wi': 'Wisconsin',
    'sc': 'South Carolina',
    'wa': 'Washington',
    'dc': 'Washington D.C.',
    'oh': 'Ohio',
    'in': 'Indiana',
    'de': 'Delaware',
    'fl': 'Florida',
    'nm': 'New Mexico',
    'az': 'Arizona',
    'ok': 'Oklahoma',
    'mn': 'Minnesota',
    'co': 'Colorado',
    'nv': 'Nevada',
    'wv': 'West Virginia',
    'tn': 'Tennessee',
    'mi': 'Michigan',
    'ri': 'Rhode Island',
    'il': 'Illinois',
    'tx': 'Texas',
    'ut': 'Utah',
    'ia': 'Iowa',
    'ga': 'Georgia',
    'md': 'Maryland',
    'mo': 'Missouri',
    'ky': 'Kentucky',
    'nc': 'North Carolina',
    'ak': 'Alaska',
    'id': 'Idaho',
    'ct': 'Connecticut',
    'wy': 'Wyoming',
    'nd': 'North Dakota',
    'me': 'Maine',
    'ar': 'Arkansas',
    'hi': 'Hawaii',
    'sd': 'South Dakota',
    'ne': 'Nebraska',
    'nh': 'New Hampshire',
    'vt': 'Vermont',
    'la': 'Louisiana',
    'ms': 'Mississippi'
}
df_state[1] = df_state[0]
df_state[0].replace(state_dict, inplace=True)
df_state.drop(0, axis=0, inplace=True) # 欠損値削除

tqdm.pandas()
df_state[['latitude', 'longitude']] = 0
df_state = df_state.progress_apply(get_latlng, axis=1)
display(df_state)
print(df_state.isnull().sum())

  0%|          | 0/51 [00:00<?, ?it/s]

                  0   1   latitude   longitude
1      Pennsylvania  pa  40.969989  -77.727883
2            Kansas  ks  38.273120  -98.582187
3          New York  ny  40.712728  -74.006015
4        California  ca  36.701463 -118.755997
5           Alabama  al  33.258882  -86.829534
6            Oregon  or  43.979280 -120.737257
7          Virginia  va  37.123224  -78.492772
8           Montana  mt  47.375267 -109.638757
9        New Jersey  nj  40.075738  -74.404162
10    Massachusetts  ma  42.378877  -72.032366
11        Wisconsin  wi  44.430898  -89.688464
12   South Carolina  sc  33.687439  -80.436374
13       Washington  wa  38.895037  -77.036543
14  Washington D.C.  dc  38.895037  -77.036543
15             Ohio  oh  40.225357  -82.688140
16          Indiana  in  40.327013  -86.174693
17         Delaware  de  38.692045  -75.401331
18          Florida  fl  27.756767  -81.463983
19       New Mexico  nm  34.570817 -105.993007
20          Arizona  az  34.395342 -111.763275
21         Oklahoma  ok  34.955082  -97.268406
22        Minnesota  mn  45.989659  -94.611329
23         Colorado  co  38.725178 -105.607716
24           Nevada  nv  39.515882 -116.853723
25    West Virginia  wv  38.475841  -80.840841
26        Tennessee  tn  35.773008  -86.282008
27         Michigan  mi  43.621195  -84.682435
28     Rhode Island  ri  41.796241  -71.599237
29         Illinois  il  40.079661  -89.433729
30            Texas  tx  31.263890  -98.545612
31             Utah  ut  39.422519 -111.714358
32             Iowa  ia  41.921673  -93.312270
33          Georgia  ga  32.329381  -83.113737
34         Maryland  md  39.516240  -76.938207
35         Missouri  mo  38.760481  -92.561787
36         Kentucky  ky  37.572603  -85.155141
37   North Carolina  nc  35.672964  -79.039292
38           Alaska  ak  64.445961 -149.680909
39            Idaho  id  43.644764 -114.015407
40      Connecticut  ct  41.650020  -72.734216
41          Wyoming  wy  43.170026 -107.568534
42     North Dakota  nd  47.620146 -100.540737
43            Maine  me  45.709097  -68.859020
44         Arkansas  ar  35.204888  -92.447911
45           Hawaii  hi  19.593801 -155.428370
46     South Dakota  sd  44.647176 -100.348761
47         Nebraska  ne  41.737023  -99.587382
48    New Hampshire  nh  43.484913  -71.655399
49          Vermont  vt  44.599072  -72.500261
50        Louisiana  la  30.870388  -92.007126
51      Mississippi  ms  32.971528  -89.734850

0            0
1            0
latitude     0
longitude    0
dtype: int64

In [8]:
# ===================================================================
#  save data
# ===================================================================
df_state[[1, "latitude", "longitude"]].rename(
    columns={1:"state", "latitude":"state_latitude", "longitude":"state_longitude"}
    ).to_csv("data/state_coordinate.csv", index=False)
df_region[[1, "latitude", "longitude"]].rename(
    columns={1:"region", "latitude":"region_latitude", "longitude":"region_longitude"}
    ).to_csv("data/region_coordinate.csv", index=False)